<br>
<br>
<br>
<br>
<form id="login" action="/sessions" method="post">
<br>
Email: <input type= "email" name="user[email]" placeholder="Email">
<br>
<br>
Password: <input type= "password" name="user[password]" placeholder="Password">
<br>
<br>
<button type="submit">Log In</button>
</form>